@import '~bootstrap/scss/bootstrap';

.content {
  @include make-row;
  margin-bottom: 60px;
  margin-left: 60px;
  &:empty {
    &::before {
      color: lighten($info, 25%);
      // content: 'Click Get Pokemon';
      font-size: 10vh;
      line-height: .85;
      padding: 10px;
      text-align: center;
      width: 95%;
    }
   }
 }

body {
  background-color: white;
 }

.signed-out {
  display: block;
  text-align: center;
}

.signed-in {
  display: none;
  text-align: center;
}

.dropdown-toggle {
  display: none;
  color: white;
}
